<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Produtos
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Produtos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    
    <ion-button shape="block" routerLink="/criar-prods/">novo</ion-button>
    <ion-button shape="block" routerLink="/entrada-prods/">entrada</ion-button>
    <ion-button shape="block" routerLink="/saida-prods/">saida</ion-button>
    <ion-button shape="block" routerLink="/lista-prods/">produtos</ion-button>



  </div>
</ion-content>
